form(action="query", method="get")
  label(for="xh") 学号
  input(name="xh")

  label(for="xm") 姓名
  input(name="xm")

  select(name="xb")
    option(value="1") 男
    option(value="2") 女

  input(type="submit", value="查询")

div
  p 使用方式：{"xh": "学号", "xm": "姓名", "xb": "1是男 2是女"}
  p 示例：
    a(href="/query?xh=1043111063&xm=唐瞻立&xb=1") /query?xh=1043111063&xm=唐瞻立&xb=1
  p 本站源码：
    a(href="https://github.com/alsotang/pead") https://github.com/alsotang/pead